*{
    box-sizing: border-box;
}
/* nav{
    background-color: #FF42A5;
} */
.nav{
    display: flex;
    max-width: 1440px;
    align-items: center;
    margin: 0 auto;
    
}
.nav-part-1{
    display: flex;
    width: 50%;
    margin-bottom: 30px;

}
.nav-part-2{
    color: #3C354F;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
.nav-part-2 a{
    text-decoration: none;
}
.follow{
    padding: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
span{
    color:rgba(255, 66, 165, 1);
}
.header-section{
    background: #f1eeee;
}
.banner{

    display: flex;
    max-width: 1440px;
    align-items: center;
    margin: 0 auto;}
    
.play-like{
    width: 720px;

}
.banner-img{
    width: 50%;
}
.play{
    color: #0B0223;
    text-align: left;
        font-size: 48px;
  
   
    text-transform: uppercase;
}
.play-content{
    text-align: left;

font-size: 95px;


text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.sign-in{
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}
.go-rogue{
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
}
.online-games{
      max-width: 1440px;
    justify-content: center;
    margin: 50px auto;
    
}
.section-title{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.span-1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-content{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.online-games-content{
    max-width: 1440px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    gap: 20px;

}
.play{
    display: flex;
    max-width: 1440px;
    margin: 50px auto;
}
/* .play-instantly{
    margin-left: 200px;
    text-align: right;
} */
.play-description{
    min-width: 360px;
    margin: 0 auto;
    font-size: 15px;
    
}
.play-img{
    display: block;
    margin-bottom: 100px;
}
.play-img .img-2{
    position: absolute;
    right: 800px;
    top:1850px;
}
.games-list-1{
    padding: 0 50px;
    max-width: 1440px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.games-list-2{
    padding: 0 300px;
    max-width: 1440px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.games-list-1 .game-box{
    display: flex;
gap: 10px
}
.games-list-2 .game-box2{
        display: flex;
    gap: 10px
}
.game-box:hover{
    color: #FF42A5;
    align-items: center;
    width: 248px;
height: 80px;
flex-shrink: 0;
border-radius: 50px;
border: 1.5px solid var(--Linear, #FF42A5);
background: #FFF;
}
.game-box2:hover{
    color: #FF42A5;
    align-items: center;
    width: 248px;
height: 80px;
flex-shrink: 0;
border-radius: 50px;
border: 1.5px solid var(--Linear, #FF42A5);
background: #FFF;
}



footer{
    margin-top: 100px;
    padding: 50px 0;
    text-align: center;
    color: white;
    background: #0B0223;
}
.footer-heading{
    gap: 20px;
    display: flex;
    justify-content: center;
}
.footer-title{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 50px auto;
}
.footer-title li{
    list-style: none;
}
.footer-link span{
    justify-content: center;
    margin-right: 20px;
    
}
.footer-content{
    display: flex;
    justify-content: space-between;
    width: 710px;
    margin: 50px auto;
}
.footer-content li{
    list-style: none;
}

